
       

        body {
            background-color: antiquewhite;
            height: 100vh;
            background-size: 100% 100%;
        }

        .h2 {
            list-style: nongvbkjnlm/,buoihlkm.e;
            display: inline-block;
            margin: 0 9px;
            line-height: 10px;
        }

            .h2 a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                padding: 7px 13px;
                font-family: Roboto;
                transition: 0.5s;
            }

                .h2 a.active,
                .h2 a:hover {
                    background: red;
                    border-radius: 2px
                }
